
.open-sans-normal{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.header{
  background-image: url("../images/developer.png"),url(../images/header_bg.png);
  background-repeat: no-repeat;
  background-position: left top, right bottom;
}
/* shared style */
.primary-color{
  color:#FD6E0A ;
}
.dark-2{
  color: #474747;
}
.btn-primary{
  background-color: #FD6E0A;
  color: white;
  font-size: 20px;
  font-weight: 700;
  border: none;
  padding: 18px 30px;
  border-radius: 5px;
}

/* nav styles */

.nav-title{
  font-weight: 800;
  font-size: 45px;
}
nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 200px;
}
nav ul li{
  list-style: none;
  margin: 0px 20px;
}
nav li a{
  text-decoration: none;
  font-size: 20px;
}
nav ul{
  display: flex;
  align-items: center;
}
/* banner styles */
.Banner{
  display: flex;
  justify-content: space-between;
  margin: 0 35px 0 200px;
}
.banner-greetings{
  font-size: 45px;
  font-weight: 600;
}
.banner-title{
  font-size: 85px;
  font-weight: 700;
}
.banner-description{
  font-size: 20px;
}
.banner-profile-pic{
  width: 580px;
}
.banner-content{
  max-width: 550px;
}

/* shared style  */
.text-center{
  text-align: center;
}
.secondary-bg{
  background-color:#FFF8F3 ;
}
.section-title{
  font-size: 35px;
  font-weight: 700;
  color: #181818;
}
.section-description{
  font-size: 18px;
  color: #A3A3A3;
}
main section{
  margin-top: 130px;
  margin-bottom: 130px;

}
/* main styles */

main{
  max-width: 1140px;
  margin: 0 auto;
}
/* about styles */
.about{
  border-radius: 10px;
  padding: 130px 150px;
  text-align: center;
  margin-top: 130px;
}
.item-description{
  font-weight: 600;
}
.about-items{
  display: flex;
  justify-content: space-around;
}

/* section skills styles */
.section-title{
  font-size: 35px;
  font-weight: 700;
  color: #181818;
}
.skills-container{
  display: flex;
  gap: 24px;
  
}
.skill{
  padding: 30px;
  box-shadow: 0 6px 50px 0px rgba(0, 0, 0, 0.06);
  border-radius: 5px;
}
.skill-description{
  color: #A3A3A3;
  font-size: 16px;
  
}
.resume-container{
  display: flex;
  gap: 24px;
}
.experience-description, .experience-sub-title{
  color:#757575 ;
}
.experience-sub-title{
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 20px;
}
.resume-download-cv{
  margin-top: 20px;
  border-radius: 10px;
}
/* footer styles */
footer{
  padding: 130px 230px;
  display: flex;
  gap: 100px;
}
.footer-column{
  width: 50%;
}
input[type='text'] , input[type='email'], input[type='textarea']{
  height: 64px;
  border-radius: 5px;
  background-color: white;
  display: block;
  width: 100%;
  padding: 10px 20px;
  margin-bottom: 24px;
  border: none;
}